/* ! Reset */
body, html{ font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-type: none;}
img{height: auto;}
a{text-decoration: none;}
hr{border:none; border-bottom: 1px solid #ddd}


/* ! Title System */
.text-0{font-size: 5rem; line-height: 1;}
h1, .text-1{font-size: 3.4rem;}
h2, .text-2{font-size: 2.2rem;}
h3, .text-3{font-size: 1.5rem;}
h4, p, .text-4{font-size: 1rem;}

h1, h2, h3, h4, p, ol, ul{margin-bottom: 1rem;}

@media (max-width: 768px) {
  .text-0{font-size: 4rem}
}

/* ! Button system */
.button{font-size: 1.2rem; text-transform: uppercase; font-weight: bold; background: #ebbf2c; color:#333; padding: 14px 25px;display: inline-block;border-radius: 4px; border: 0;}
.button:hover{background: #c48c27;}

.button--small{  padding: 10px 20px;font-size: 1rem;}
.button--round{background: #fff; color:#000; padding: 15px 30px; border-radius: 100px; font-weight: bold;}
.button--round:hover{background: #000; color:#fff;}
.button--round-outline{background: transparent; color:#fff; padding: 15px 30px; border-radius: 100px; font-weight: bold;border: 1px solid #fff}
.button--round-outline:hover{background: #fff; color:#000;}
.button-rounding{border-radius: 15px;}



/* Components
--------------------------------------------------------- */

/* ! Header */
.header{background: #333; display: flex; justify-content: space-between;}
.header a{color:#fff; display: block; padding: 15px;}

.header__menu{margin-bottom: 0;}
.header__menu li{display: inline-block;}
.header__logo{font-weight: bold;}

/* ! Cover */
.cover{
  background: #eee;padding: 20px;min-height: 100vh;
  display: flex; flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__content{max-width: 600px; margin: 0 auto}

.cover--image{min-height: 600px; color:#fff; justify-content: flex-end;  text-align: left;}
.cover--image .cover__content{max-width: 1250px; width: 100%;}
.cover--image h1,
.cover--image h2{font-size: 2.4rem;}
.cover--image h3{font-size: 1.4rem;text-transform: uppercase;font-weight: normal;}


/* ! Tiles */

.tiles{min-height: 500px; border-radius: 30px; color:#fff; position: relative;overflow: hidden}
.tiles__label{position: absolute; bottom: 30px; left:30px}
.tiles__content{
  padding: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

/* ! card */
.card{background: #333;padding: 30px;border-radius: 15px; text-align: center;}

/* ! Footer */
.footer{background: #eee;padding-top: 30px;}


/* ! Grid System */
.grid{display: flex; flex-wrap: wrap; max-width: 1250px; margin: 0 auto}
.grid--small{max-width: 900px}
.grid--center{justify-content: center;}

.col-20{width:20%}
.col-25{width:25%}
.col-30{width:30%}
.col-33{width:33.33%}
.col-40{width:40%}
.col-50{width:50%}
.col-60{width:60%}
.col-70{width:70%}
.col-80{width:80%}
.col-90{width:90%}
.col-100{width:100%}

[class*='col-']{padding: 10px;}


@media (max-width: 768px) {
  [class*='col-']{width: 100%}
  .sma-33{width: 33.33%}
  .sma-50{width: 50%}
  .sma-25{width: 25%}
}

/* ! Helpers */

.br{border: 1px solid red;}
.img-res{width: 100%;}

.mt-0{margin-top: 0;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}

.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}

.mr-0{margin-right: 0;}
.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}

.ml-0{margin-left: 0;}
.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}

.text-center{text-align: center}  
.text-left{text-align: left}
.text-right{text-align: right}

.p-0{padding: 0;}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}

.pt-0{padding-top: 0;}
.pt-1{padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3{padding-top: 3rem;}
.pt-4{padding-top: 4rem;}

.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: 1rem;}
.pb-2{padding-bottom: 2rem;}
.pb-3{padding-bottom: 3rem;}
.pb-4{padding-bottom: 4rem;}


.icon-small{width: 45px;padding: 8px;}
.icon-mid{width: 210px;padding: 12px;}
.icon-white{filter: invert(1);}
.img-round{border-radius: 150000px; max-height: 330px;}
.bg-dark{background: #000;}
.text-white{color:#fff}
.v-center{display: flex; justify-content: center; align-items: center; flex-flow: column}
.r-center{display: flex; align-items: center; flex-flow: row;}
.font-normal{font-weight: 400;}

.none{display: none;}
@media (max-width: 768px) {
  .sma-none{display: none;}
}

.circular-portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  }

  .circular-portrait-mini {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    }
.shadow{box-shadow: 10px 10px 5px #828282;}

/* end file */

/*scrollbar*/
html::-webkit-scrollbar {
  width: 10px;
  }

  html::-webkit-scrollbar-track {
    background: #ccc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    html::-webkit-scrollbar-thumb {
      background: #333;
      }


/*animazione password*/
* {
  box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */

.container {
  font-family: "Arial";
  width: 100%;
  margin: 30px auto 0;
  display: block;
  background: #333;
  padding: 10px 50px 50px;
  text-align: center;
  align-self: center;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}
h2 small {
  font-weight: normal;
  color: #fff;
  display: block;
}
/* form starting stylings ------------------------------- */
.group {
  position: relative;
  align-content: center;
  margin-bottom: 45px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: #333;
  color: #fff;
}

.bar{ width: 100%; }

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ebbf2c;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ebbf2c;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #ebbf2c;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #ebbf2c;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #ebbf2c;
  }
  to {
    width: 0;
    background: transparent;
  }
}







 .card{
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.8s; /* Firefox < 16 */
      -ms-animation: fadein 0.8s; /* Internet Explorer */
       -o-animation: fadein 0.8s; /* Opera < 12.1 */
          animation: fadein 0.8s;

 }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}